// Place all the styles related to the Statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

#container1, #container2 {
	//min-width: 310px;
	//min-width: 500px;
	//max-width: 800px;
	max-width: 600px; 
	height: 400px;
	margin: 0 auto;
}
#container1 {
	float: left;  
	clear: both;
}
#container2{
	float:right; 
}

.ui-selectmenu-text {
    text-align: center;
}

#email .ui-menu-item{
    text-align: center;
}

#email-button{
	vertical-align: unset !important;
	margin: 5px 0;
	float: left;
	height: 34px;
}

#output1{
	float:left; 
	clear: left; 
	margin-left: 40px; 
	//border: 1px solid gray; 
	padding: 5px 10px; 
	border-radius: 4px;
}
#output2{
	float:right; 
	clear: right; 
	margin-right: 40px; 
	//border: 1px solid gray; 
	padding: 5px 10px; 
	border-radius: 4px;
}



#select_link {
	padding: 5px 10px;
	font-size: 15px;
	float: left;
	margin: 4px 8px;
}

.dtp_class{
	width: 180px;
	float: left;
	margin: 5px 5px;
}