// Place all the styles related to the Statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container1, #container2 {
	//min-width: 310px;
	//min-width: 500px;
	//max-width: 800px;
	height: 400px;
	margin: 0 auto;
}
.ui-selectmenu-text {
    text-align: center;
}

#email .ui-menu-item{
    text-align: center;
}